spring:
  config:
    activate:
      on-profile: docker
  data:
    mongodb:
      database: ${SPRING_DATA_MONGODB_DATABASE}
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE-URL-DEFAULTZONE}
logging:
  level:
    org.springframework.security: WARN
