.custom-radio-group > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; /* or space-between */
}

.custom-radio-label {
  flex: 1 1 30%;      /* Grow, shrink, basis approx 30% width */
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: #f8f9fa;
  /* background-color: #343a40; */
  padding: 0.4rem 0.8rem;
  border-radius: 0.375rem;
  user-select: none;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
  border: 1px solid transparent;
}

.custom-radio-label:hover {
  background-color: var(--link-hover);
  color: white;
  border-color: var(--link-hover);
}

.custom-radio-label input[type="radio"] {
  margin-right: 0.5rem;
  accent-color: var(--link-hover);
}

.custom-radio-label input[type="radio"]:checked + .custom-radio-text {
  font-weight: 600;
  color: #e0e0e0;
}

.selected-category {
  background-color: var(--link-hover);
  color: white;
}


.drop-zone {
  border: 2px dashed var(--primary, #7c3aed);
  border-radius: 12px;
  /* background: #f8f9fc; */
  padding: 32px;
  position: relative;
  transition: border-color 0.2s, background 0.2s;
  cursor: pointer;
}

.drop-zone.active {
  border-color: #4e28a5;
  background: #e0e7ff;
}

.drop-zone-content {
  pointer-events: auto; 
}

/* .btn-small-x {
  color: #dc3545 !important;
  font-size: 1.5rem;        
  padding: 0.1rem 0.3rem;   
  line-height: 1;           
  width: 20px;              
  height: 20px;             
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
} */
 
.btn-small-x {
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-item {
  background-color: transparent;
  color: whitesmoke;
}

.btn-warning {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text-primary);
}

.btn-warning:hover {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
}

.btn-danger {
  color: var(--text-primary);
}
