.custom-radio-group > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; /* or space-between */
}

.custom-radio-label {
  flex: 1 1 30%;      /* Grow, shrink, basis approx 30% width */
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: #f8f9fa;
  /* background-color: #343a40; */
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  user-select: none;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
  border: 1px solid transparent;
}

.custom-radio-label:hover {
  background-color: var(--link-hover);
  color: white;
  border-color: var(--link-hover);
}

.custom-radio-label input[type="radio"] {
  margin-right: 0.5rem;
  accent-color: var(--link-hover);
}

.custom-radio-label input[type="radio"]:checked + .custom-radio-text {
  font-weight: 600;
  color: #e0e0e0;
}

.list-group-item {
  background-color: transparent;
  color: whitesmoke;
}

.btn-warning {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text-primary);
}

.btn-warning:hover {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
}

.btn-danger {
  color: var(--text-primary);
}
