.square-image {
  width: 100px;
  height: 160px;
  object-fit: cover;
  display: block;
}

.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
}
.custom-modal-absolute {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1050;
  margin: 0 !important;
}

.modal-dialog {
  margin-top: 40vh;
}

.modal-content {
  background-color: var(--background);
  /* background-color: #5F9EA0; */
  color: white;

}

.custom-radio-group > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; /* or space-between */
}

.custom-radio-label {
  flex: 1 1 30%; /* Grow, shrink, basis approx 30% width */
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  color: #f8f9fa;
  /* background-color: #343a40; */
  padding: 0.4rem 0.8rem;
  border-radius: 0.375rem;
  user-select: none;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
  border: 1px solid transparent;
}

.custom-radio-label:hover {
  background-color: var(--link-hover);
  color: white;
  border-color: var(--link-hover);
}

.custom-radio-label input[type='radio'] {
  margin-right: 0.5rem;
  accent-color: var(--link-hover);
}

.custom-radio-label input[type='radio']:checked + .custom-radio-text {
  font-weight: 600;
  color: white;
}

.selected-category {
  background-color: var(--link-hover);
}

.drop-zone {
  border: 2px dashed var(--primary, #7c3aed);
  border-radius: 12px;
  /* background: #f8f9fc; */
  padding: 32px;
  position: relative;
  transition:
  border-color 0.2s,
  background 0.2s;
  cursor: pointer;
}

.drop-zone.active {
  border-color: #4e28a5;
  background: #e0e7ff;
}

.drop-zone-content {
  pointer-events: auto;
}

.btn-small-x {
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-item {
  background-color: transparent;
  color: whitesmoke;
}

.btn-warning {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text-primary);
}

.btn-warning:hover {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
}

.btn-danger {
  color: var(--text-primary);
}
