server:
  port: 8080
  ssl:
    enabled: true
    key-store: classpath:gateway-keystore.p12
    key-store-password: buyOne
    key-store-type: PKCS12
    key-alias: gateway

spring:
  application:
    name: gateway-service
  security:
    oauth2:
      resourceserver:
        jwt:
          secret: "oogabooga123oogabooga123oogabooga123!"
  cloud:
    gateway:
      routes:
        - id: user-auth
          uri: lb://USER-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - JwtHeaderFilter

        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**
          filters:
            - JwtHeaderFilter

        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/products/**
          filters:
            - JwtHeaderFilter

        - id: media-service
          uri: lb://MEDIA-SERVICE
          predicates:
            - Path=/media/**
          filters:
            - JwtHeaderFilter

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

logging:
  level:
    org.springframework.security: DEBUG


