spring:
  application:
    name: gateway-service
  config:
    activate:
      on-profile: docker
  cloud:
    discovery:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/

logging:
  level:
    org.springframework.security: WARN
