.hero-hero {
  position: relative;
  height: 500px;
  background: #262648;
  color: var(--link, #69f0ae);
}
.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.40;
}
.hero-gradient {
  background: linear-gradient(90deg, #262648 70%, transparent 120%);
  height: 100%;
  opacity: 0.50;
}

.text {
  padding-left: 4rem;
}

.bi {
  color: var(--link, #69f0ae);
}