spring:
  application:
    name: discovery-service
  config:
    activate:
      on-profile: docker

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false

logging:
  level:
    org.springframework.security: WARN
