.card-title {
  color: var(--link);
}

.badge.bg-secondary {
  text-align: left !important;
}

.btn-outline-primary {
    color: var(--link);
    border-color: var(--link);
}

.btn-outline-secondary {
    color: var(--text-primary);
    border-color: var(--border);
}