.home-category-card-body, .cat-bg {
    border-radius: 0.375rem;
    background-color: transparent;
    /* box-shadow: 0 10px 30px rgba(15, 23, 42, 0.35); */
}

.home-category-card-body:hover {
    background-color: rgba(0, 0, 0, 0.353) !important;
    box-shadow: 0 10px 30px rgba(15, 23, 42, 0.35);

}

.category-icon {
  background: linear-gradient(
    135deg,
    #0aeb7e,
    #7c3aed,
    #243145,
    #0f172a
  );
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
  color: #f9fafb; /* icon color */
}


.card-title {
    color: var(--text-primary)
}

.cat-text {
    color: var(--text-primary) !important;
}

