server:
  port: 8567

spring:
  application:
    name: product-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
  data:
    mongodb:
      uri: "mongodb+srv://Cluster05093:.qwe.qwe.qwe@cluster05093.dh3rmhg.mongodb.net/buy-one?retryWrites=true&w=majority&appName=Cluster05093"
  security:
    user:
      name: user
      password: password

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true


app:
  kafka:
    topic:
      product-created: product.created
      product-updated: product.updated
      product-deleted: product.deleted

logging:
  level:
    org.springframework.security: DEBUG
