
.avatar-preview {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--border, #334155);
  /* background: #fff; */
  margin-bottom: 6px;
}

.upload-avatar {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  object-fit: cover;
  font-size: 12px;
  color: var(--text-primary, #f1f5f9);
  text-align: center;
  border: 2px solid var(--border, #334155);
}

:host ::ng-deep .mat-mdc-card-header {
  display: block !important;
}

